@model IQueryable<Product>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var p in Model)
{
    <div>
        <p>

            <h4>@p.Name</h4>
            @p.Description
            <h5>@p.Price.ToString("c")</h5>

        </p>
    </div>
}
